<h1>Müşteri Detayı</h1>
<span style="background: #b3696a; padding: 5px; margin-right: 10px"><%= link_to '<< Geri Dön', customers_path, style: 'color:#fff; text-decoration: none' %> </span>
<span style="background: #b2b369; padding: 5px; margin-right: 10px"><%= link_to 'Düzenle', edit_customer_path(@customer), style: 'text-decoration: none' %></span>
<% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@customer.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
  <strong>Adı</strong>
  <span> <%= @customer.name %> </span>
</p>

<p>
  <strong>Soyadı</strong>
  <span> <%= @customer.surname %> </span>
</p>

<p>
  <strong>Email</strong>
  <span> <%= @customer.email %> </span>
</p>
<p>
  <strong>Telefon</strong>
  <span> <%= @customer.phone %> </span>
</p>
<hr>
<h1> Rezervasyonları </h1>
<p>
  <span style="background: #69b375; padding: 5px; margin-right: 10px"><%= link_to '+ Yeni Rezervasyon', new_customer_reservation_path(@customer), style: 'text-decoration: none; color: #000' %> </span>
</p>
<table border="1">
  <tr>
    <td style="text-align: center">Rez. Tarih</td>
    <td style="text-align: center">Rezervasyon Kodu</td>
    <td style="text-align: center">Kayıt Tarihi</td>
    <td style="text-align: center">Son Değişklik</td>
    <td style="background: #ccc"></td>
  </tr>
  <% @customer.reservations.each do |reservation| %>
      <tr>
        <td style="text-align: center"><%= reservation.date.strftime('%d.%m.%Y') %></td>
        <td style="text-align: center"><%= reservation.reservation_code %></td>
        <td style="text-align: center"><%= reservation.created_at.strftime('%d.%m.%Y %H:%m') %></td>
        <td style="text-align: center"><%= reservation.updated_at.strftime('%d.%m.%Y %H:%m') %></td>
        <td style="background: #ccc">
          <%= link_to 'Düzenle', edit_customer_reservation_path(@customer,reservation) %>
          <%= link_to 'Sil', customer_reservation_path(@customer,reservation), method: :delete, data: { confirm: 'Rezervasyonu Silmek İstediğinize Emin misiniz ?' } %>
        </td>
      </tr>
  <% end %>
</table>
